body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: whitesmoke;
}

h1 {
  color: #333;
}

#mensaje {
  font-weight: bold;
  margin-bottom: 10px;
}

#pistas {
  list-style: none;
  padding: 0;
}

#pistas li {
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

button:nth-child(1) { background-color: red;}
button:nth-child(2) { background-color: green;}
button:nth-child(3) { background-color: blue;}
button:nth-child(4) { background-color: yellow;}
button:nth-child(5) { background-color: purple;}


#seleccion {
  margin-top: 10px;
  font-style: italic;
}